<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="NewsModule\News\Api\TestRepositoryInterface" type="NewsModule\News\Model\TestRepository"/>
	<preference for="NewsModule\News\Api\Data\TestInterface" type="NewsModule\News\Model\Data\Test"/>
	<preference for="NewsModule\News\Api\Data\TestSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="NewsModule\News\Model\ResourceModel\Test\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">newsmodule_news_test</argument>
			<argument name="resourceModel" xsi:type="string">NewsModule\News\Model\ResourceModel\Test\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="newsmodule_news_test_listing_data_source" xsi:type="string">NewsModule\News\Model\ResourceModel\Test\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
