<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="newsmodule_news" id="newsmodule_news">
			<module before="Magento_Backend" name="NewsModule_News"/>
		</route>
	</router>
</config>
